body {
    padding-left: 50px;
    font-family: 'Source Sans 3', sans-serif;
    background-image: linear-gradient(to right,#a8c0ff, #3f2b96);
}
.user-info{
    height: 120px;
    width: 500px;
}

.user-info p{
    line-height:5px;
    
}

.assignment-table {
  margin: 25px 0;
  font-size: 1em;
  min-width: 700px;
  border-collapse: collapse;

}

.head-row {
  color: black;
  text-align: left;
  border-bottom: 1px solid black;
}
.assignment-table th,.assignment-table td {
  padding: 12px 15px;
}

.assignment-table tbody tr{
    border-bottom: 1px solid #020202;
}

.assignment-table tbody tr td a{
    text-decoration: none;
    color: black;
}
.assignment-table tbody tr td a:hover{
    color: yellow;
}
