/* 
***Colors***
background: #2F327D; blue
background: #F48C06;orange
background: #65DAFF;cyan

font-family: 'Poppins', sans-serif;

border:2px solid red;
 */

/* universal */
.orange {
  color: #f48c06;
}
.white {
  color: #ffffff;
}
.darkblue {
  color: #2f327d;
}
.a {
  text-decoration: none;
}
.font-large {
  font-size: 3.375rem;
}
.font-med {
  font-size: 2rem;
}
.font-small {
  font-size: 0.9rem;
}
.first-letter {
  font-size: 4rem;
}
.heading {
  font-size: 22px;
}
/* for hover dropdown */
/********************* hover effect */
/* Dropdown Button */
.dropbtn {
  background-color: #fff2e1;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  height: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #65daff;
  min-width: 160px;
  z-index: 1;
  right: 15px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
}
/* ****************************** */

/* ********************************************************************************************************* */
/************************ HEADER*************************/

header {
  background: #fff2e1;
  background-image: url(../images/people/yellow-tshirt.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 0 0 80px 80px;

  /* z-index: -1; */
}
.top-nav {
  /* border: 2px solid red; */
}
.top-nav::after {
  content: "";
  display: block;
  clear: both;
}

.top-nav-left {
  /* border: 2px solid red; */
  float: left;
  width: 80%;
  position: relative;
  max-width: 500px;
}
.top-nav-right {
  /* border: 2px solid red; */
  /* float: right; */
  /*   clear: both; */
}
.hamburger-icon {
  float: right;
  /* border: 2px solid black; */
  width: 15%;
  /*     height:auto; */
}
.dropbtn img {
  height: 20px;
  min-width: 20px;
}
.header-main {
  clear: both;
  /*   border: 2px solid black; */
  /* border-radius: 0 0 20px 20px ; */
}

.header-main-left p {
  /* border: 2px solid blue; */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  max-width: 500px;
  line-height: 25px;
  font-size: 12px;
}

.top-nav-right {
  display: none;
}

/************************ HEADER-MAIN*************************/
.skilline-logo {
  width: 50%;
  position: relative;
  right: 15%;
}
.skilline-def {
  font-size: 1.2rem;
  color: #2f327d;
  font-weight: 400;
}
/* .join-free{
  align-items: center;
  justify-content: center;
} */

.join-free ul {
  margin-top: 550px;
  background: rgb(255 255 255 / 38%);
  border-radius: 80px;
  /* position:relative; */
  /* vertical-align: top; */
}
.join-free-li {
  width: 31%;
  text-align: center;
  float: left;
}
/* .join-free-button{

  } */

.watch {
  font-size: 12px;
}
.play {
  width: 80px;
}

.join-button button {
  padding: 15px;
  border-radius: 20px;
  background-color: #f48c06;
  color: white;
  border: none;
}
.header-main-left {
  padding: 20px 20px 10px 20px;
}
.header-main-right::after {
  content: "";
  display: block;
  clear: both;
}

.three-bars-div {
  display: none;
}
.three-divs {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  width: 45%;
  /*   border: 2px solid blue; */
  margin: 10px auto;
  padding: 28px 25px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}
/* 
.calendar-icon-div{

background: rgba(255, 255, 255, 0.8);
border-radius:20px;
width:32%;
border:2px solid red; 
margin:10px auto;

padding: 28px 25px;
}*/
.UE-div {
}
/*
.invite-icon-div{

background: rgba(255, 255, 255, 0.8);
border-radius:20px;
width:32%;
border:2px solid red; 
margin:10px auto; 

padding: 28px 25px;
 } */

/************************************* inside of 3-divs */
.icon-div-left {
  width: 25%;
  display: inline-block;
}
.icon-div-right {
  width: 65%;
  display: inline-block;
}
.icon-div-right h1 {
  font-size: 1.2rem;
  font-family: Nunito Sans; /* import thiss*/
}
.icon-div-right span {
  font-size: 0.9rem;
  font-family: Nunito Sans;
}
.invite-icon-div-left {
  background-color: #f48c06;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  text-align: center;
}
.invite-icon-div-left img {
  margin-top: 10px;
}
.join-now {
  display: block;
}

/* *************************************** COMPANY SECTION */
.company-logo {
  padding: 10px;
  /* justify-content: baseline; */
}
.trusted-by {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

.logos {
  display: inline-block;
  width: 16.67%;
  margin: 5px;
}

/* ************************************* CLOUD SERVICES */
/* div1 */
.cloud-software-div1 {
  margin-top: 20px;
}
.cloud-software-div1 h1 {
  text-align: center;
  /*   font-family */
  font-weight: 700;
  margin-bottom: 15px;
}

.cloud-software-div1 span {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 1rem;
  color: #696984;
}
/* div2 */
.services {
  font-weight: 700;
  width: 70%;
  margin: 35px auto;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #ffffff;
  border-radius: 20px;
}
.services a {
  text-decoration: none;
}
.services a:hover {
  text-decoration: underline;
}
.services img {
  width: 100px;
}
.services h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  /* text-align: center; */
  margin-bottom: 20px;
}
.services p {
  line-height: 150%;
  color: #696984;
  font-weight: 400;
}

.cloud-software-service-1 {
  /*   border: 2px solid red; */
}
.cloud-software-service-2 {
  /*   border: 2px solid rgb(191, 179, 15); */
}
.cloud-software-service-3 {
  /*   border: 2px solid purple; */
}

/* what is Skilline */
.what-is {
  padding: 20px;
}

.what-is-text p {
  font-weight: normal;
  font-size: 20px;
  line-height: 150%;
  /* or 43px */
  text-align: center;
  letter-spacing: 0.02em;
  width: 85%;
  margin: 0 auto;
}
.what-is-text h1 {
  color: #f48c06;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 180%;
  text-align: center;
}
.what-is-text h1 span {
  color: #2f327d;
}
.what-is-images1 {
  /*   float: left; */
  background-image: url(../images/people/what-is-img1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  /*??? */
  margin: 15px auto;
/*   border: 2px solid blue; */
}
.what-is-images2 {
  /*   float: right; */
  background-image: url(../images/people/what-is-img2.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  /*   height: 400px; */
  margin: 15px auto;
/*   border: 2px solid red; */
}

.what-is-images1 div,
.what-is-images2 div {
/*   border: 2px solid purple; */
  width: 80%;
  max-width: 400px;
  margin: 100px auto;
  text-align: center;
}
.what-is-images1 div h1,
.what-is-images2 div h1 {
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  color: #ffffff;
}
.what-is-images1 div button {
  color: white;
  border-color: white;
}
.default-button {
  padding: 10px;
  border-radius: 80px;
  font-size: 15px;
  background-color: transparent;
  font-size: 0.9rem;
  border: 1px solid #ffffff;
  font-family: Poppins;
}

.what-is-images2 div button {
  padding: 10px;
  border-radius: 80px;
  font-size: 15px;
  background-color: #23bdeee5;
  color: white;

  border: 1px solid #ffffff;
  font-family: Poppins;
}

/* .what-is-images::after{
  content: "";
  display: block;
  clear: both;
}
 */

/* Skilline Can Do
  */
.skilline-do {
  position: relative;
/*   border: 2px solid black; */
  width: 90%;
  margin: 0 auto;
}

.small-orange-circle {
  position: absolute;
  top: 10px;
  left: -15px;
  z-index: -1;
}
.big-orange-circle {
  position: absolute;
  top: -23px;
  right: -5px;
  width: 70px;
  z-index: -1;
}
.skilline-do-left {
  margin-bottom: 30px;
}

.skilline-do-left h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 140%;
  /* or 58px */
  color: #2f327d;
}
.skilline-do-left p {
  margin: 5px 0;
  color: #696984;
  line-height: 25px;
}

/* right div */
.skilline-do-right {
  position: relative;
  padding: 20px;
  text-align: center;
}

.blue-box {
  width: 20%;
  height: 20%;
  background-color: #23bdee;
  border-radius: 20px;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: -1;
}

.orange-box {
  width: 30%;
  height: 30%;
  background-color: #f3ac50;
  border-radius: 20px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  z-index: -1;
}

/* *****************OUR FEATURES */
.our-features {
  width: 90%;
  margin: 10px auto;
/*   border: 2px solid blue; */
}
.our-feature-desc {
  margin: 10px 0 30px 0;
}

.our-feature-desc h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
.our-feature-desc p {
  font-size: 20px;
  margin: 5px 0;
  line-height: 25px;
  color: #696984;
}

.our-features-left {
  position: relative;
}
.our-features-right h1 {
  line-height: 25px;
}

.our-features-right-details li {
  line-height: 25px;
}
.our-features-right-details li p {
  display: inline-block;
  width: 70%;
}
.our-features-right-details li img {
  display: inline-block;
  width: 15%;
}

/* *************************TOOLS*********** */
.tools,
.assessments,
.class-management,
.discussion {
  margin: 25px auto;
  width: 90%;
/*   border: 2px solid red; */
}
.tool-left {
  line-height: 25px;
}
.tool-left h1 {
  line-height: 40px;
}
.tool-left p {
  margin: 10px auto;
  color: #696984;
}
.see-more-div {
  width: 95%;
  margin: 20px auto;
  text-align: center;
}

.orange-button {
  border-color: #f48c06;
}
/* *************************INTEGRATION*********** */
.integration {
/*   border: 2px solid red; */
  width: 90%;
  margin: 20px auto;
}
.integration-logos {
  margin: 55px 0;
}

.integration-logos-row1,
.integration-logos-row2 {
  width: 48%;
  display: inline-block;
  text-align: center;
}
.integration-logos-row1 img,
.integration-logos-row2 img {
  width: 40%;
  margin-right: 15px;
}
.integration-heading {
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  line-height: 27px;
  letter-spacing: 0.2em;
  color: #525596;
  text-align: center;
}

.integration-desc h1 {
  color: #2f327d;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 160%;
  margin-top: 15px;
}
.integration-desc p {
  margin: 10px 0;
  line-height: 25px;
  color: #696984;
}

/* *************************testimonial*********** */
.testimonial {
/*   border: 2px solid red; */
  width: 90%;
  margin-bottom: 120px;
  margin-right: auto;
  margin-left: auto;
}
.testimonial-left h1 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  line-height: 82px;
  /* identical to box height */
  color: #2f327d;
}
.testimonial-left p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;

  line-height: 25px;
  /* or 42px */

  letter-spacing: 0.02em;

  color: #696984;
}
.testimonial-right {
  text-align: center;
  position: relative;
}
.reviewer-pic {
  width: 80%;
}
.side-arrow {
  width: 30%;
  position: absolute;
  top: 25%;
  right: -4%;
}
.testimonial-review {
  background-color: white;
  border-radius: 20px;
  border-left: 14px solid #f67766;
  box-shadow: 2px 4px 60px rgba(41, 44, 124, 0.1);
}

.testimonial-review {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 25px;
  /* or 40px */
  letter-spacing: 0.02em;
  color: #5f5f7e;
  width: 90%;
  padding: 10px;
  position: absolute;
  bottom: -10%;
  right: -2%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reviewer-name {
  float: left;
  font-size: 0.9rem;
}
.stars {
  float: right;
  font-size: 0.7rem;
}
.stars img {
  width: 80%;
}

/* *************************Latest News*********** */

.news {
  width: 95%;
  margin: 0 auto;
}
.news-header {
  margin: 0 12px;
}
.news-header h1 {
  color: #2f327d;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 160%;
}
.news-header p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  /* or 42px */
  letter-spacing: 0.02em;
  color: #696984;
}

.news-button {
  background-color: #f4c467;
  border-radius: 20px;
  font-size: 0.9rem;
  padding: 10px;
  display: block;
  width: 3rem;
}
.news-left {
  margin: 31px auto;
  /* text-align:center; */
}
.news-left,
.news-right-divs {
  border-radius: 20px;
}
.news-left:hover,
.news-right-divs:hover {
  background-color: #ddd8;
}

.news-left h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 180%;
  /* or 47px */

  color: #252641;
}
.news-left p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 180%;
  /* or 36px */
  letter-spacing: 0.02em;
  color: #696984;
}

.read-more {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 180%;
  /* identical to box height, or 36px */
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: #696984;
}

/* SIDE NEWS */
.news-right-divs {
  margin: 50px auto;
}
.news-image img {
  width: 55%;
}
.news-image img:hover {
  opacity: 0.75;
}
.news-details h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 180%;
  /* or 47px */

  color: #252641;
}
.news-details h2:hover {
  color: #f48c06;
}
.news-details a:hover {
  text-decoration-color: #f48c06;
}

.news-details p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 180%;
  /* or 36px */
  letter-spacing: 0.02em;
}

/* *************************FOOTER*********** */
footer {
  background-color: #252641;
  text-align: center;
  color: white;
}

.footer-logo {
  padding: 10px;
}
.subscribe-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #b2b3cf;
  margin-bottom: 50px;
}
footer form {
  margin: 10px;
}

footer form input {
  padding: 10px;
  border-radius: 20px;
  background: transparent;
  border: 1px solid white;
  font-family: Poppins;
  width: 200px;
}
footer form button {
  padding: 10px;
  border-radius: 20px;
  font-family: Poppins;
  background: linear-gradient(105.5deg, #545ae7 19.57%, #393fcf 78.85%);
  color: white;
}
.footer-links {
  margin-bottom: 15px;
}

.footer-links span a {
  color: white;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .skilline-logo {
    width: 50%;
    position: relative;
    right: 10%;
  }
  .header-main-left p {
    font-size: 1.5rem;
    max-width: 800px;
    line-height: 30px;
  }
  .play {
    width: 80px;
  }

  /* .join-free-button{
  font-size: 1.5rem;
} */

  /* fonts rem */

  .reviewer-name,
  .reivew-number {
    font-size: 1.1rem;
  }
  .testimonial-review {
    font-size: 1.2rem;
  }

  .our-features-right-details li p,
  .integration-desc p,
  .testimonial-left p,
  .tool-left p,
  .our-feature-desc,
  .news-header p,
  .news-left p,
  .news-details p {
    font-size: 1.35rem;
    line-height: 30px;
  }
  .watch,
  .join-free-button,
  .services p,
  .skilline-do-left p,
  .our-feature-desc p,
  .our-features-right h1 {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .cloud-software-div1 span,
  .integration-heading,
  .news-header h1 {
    font-size: 2rem;
  }
  .cloud-software-div1 h1,
  .services h1,
  .tool-left h1 {
    font-size: 2.5rem;
  }

  .our-feature-desc h1 {
    font-size: 3rem;
  }

  /***********************************************/
  .services img {
    width: 250px;
  }
  .what-is-images1 div h1,
  .what-is-images2 div h1 {
    font-size: 4rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 60px;
  }
  .what-is-images1 div,
  .what-is-images2 div {
    padding: 50px;
  }
  .our-features-right-details li img {
    width: 20%;
  }

  .default-button {
    padding: 10px;
    font-size: 1.252rem;
  }

  .news-button {
    width: 4rem;
    font-size: 1.5rem;
    margin-top: 15px;
  }
  footer form input {
    width: 500px;
  }
  /*  */
}

/* ***************************** 992 ************************/
@media screen and (min-width: 992px) {
  /* unviersla */
  .background-orange {
    background-color: #f48c06;
  }
  .background-white {
    background-color: white;
  }

  /*    */
  .top-nav-left {
    width: 25%;
    margin-top: 71px;
    margin-left: 80px;
  }
  .hamburger-icon,
  .dropdown {
    display: none;
  }
  .top-nav-right {
    width: 60%;
    display: block;
    float: right;
    text-align: right;
    margin-top: 71px;
    margin-right: 12px;
  }
  .top-nav-right ul li {
    list-style: none;
    display: inline-block;
    padding-right: 20px;
  }
  .top-nav-right ul li a {
    color: black;
    text-decoration: none;
    font-size: 22px;
    font-size: 20px;
  }
  .top-nav-right ul li a:hover {
    color: grey;
  }
  .top-nav-right ul li a span {
    border-radius: 20px;
    padding: 5px;
  }
  .header-main-left {
    padding-top: 500px;
  }
  .testimonial-review {
    font-size: 1.5rem;
    line-height: 48px;
  }
  .reviewer-name,
  .reivew-number {
    font-size: 1.3rem;
  }
  .font-large {
    font-size: 10rem;
  }
  .heading {
    font-size: 5rem;
  }
  .header-main-left p {
    font-size: 2.4rem;
    line-height: 48px;
  }

  /*  */
}

/* ***************************** 1200 ************************/

@media screen and (min-width: 1200px) {
.float-right{
  float: right;
/*   border: 2px solid red; */
  width: 45%;
}
.float-left{
  float: left;
/*   border: 2px solid blue; */
  width: 45%;
}





  header {
    background-image: none;
    border-radius: 0 0 25% 25%;
    height: 1118px;
  }
  .header-main {
    padding: 0 140px;
    margin-top: 70px;
  }
  .header-main-left {
/*     border: 2px solid red; */
    padding-top: 0;
    width: 47%;
    float: left;
  }
  .header-main-right {
/*     border: 2px solid red; */
    width: 48%;
    background-image: url(../images/people/yellow-tshirt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: right;
  }

  .three-bars-div {
    display: block;
  }
  .three-divs {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;

    /*   border: 2px solid blue; */
    margin: 10px auto;
    padding: 28px 25px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
  }

  .join-free::after {
    content: "";
    display: block;
    clear: both;
  }

  .join-free ul {
    margin-top: 5px;
  }
  .header-main:after {
    content: "";
    display: block;
    clear: both;
  }

  .heading-title {
    font-weight: bold;
    font-size: 54px;
    line-height: 81px;
  }

  .heading {
    font-style: normal;
    font-weight: bold;
    font-size: 54px;
    line-height: 81px;

    color: #2f327d;
  }
  .header-main-left p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    color: #464646;
  }
  .join-button button {
    padding: 22px 30px;
    border-radius: 80px;
    font-size: 24px;
  }

  .calendar-icon-div {
    position: relative;
  }
  .UE-div {
    position: relative;
  }
  .invite-icon-div {
    position: relative;
  }
  .company-logo {
    width: 70%;
    margin: 0 auto;
  }

  .logos {
    display: inline-block;
    width: 15.67%;
    margin: 5px;
  }

  /* cloud service */
  .cloud-software-div2:after {
    content: "";
    display: block;
    clear: both;
  }

  .services {
    float: left;
    width: 29.33%;
    height: 430px;
    margin: 0 31px;
  }
  .cloud-software-service-1,
  .cloud-software-service-2,
  .cloud-software-service-3 {
    position: relative;
  }
  .cloud-software-service-1 img,
  .cloud-software-service-2 img,
  .cloud-software-service-3 img {
    position: absolute;
    top: -28%;
    right: 28%;
  }
  .cloud-software-div2 {
    width: 76.56%;
    margin: 80px auto;
  }
  .what-is-images {
    width: 75%;
    margin: 0 auto;
  }
  .what-is-images1 {
    width: 45%;
    float: left;
  }
  .what-is-images2 {
    width: 45%;
    float: right;
  }

  .what-is-images::after {
    content: "";
    display: block;
    clear: both;
  }
  .skilline-do-left {
    float: left;
/*     border: 2px solid blue; */
  }
  .skilline-do-right {
    float: right;
/*     border: 2px solid blue; */
  }

  .skilline-do::after,
  .our-features::after,
  .tools,
  .assessments,
  .class-management,
  .discussion

{
    content: "";
    display: block;
    clear: both;
  }

  .our-features-left{
    float: left;
  }
  .our-features-right
{
    float: right;
  }
.see-more-div{
  clear: both;
}

.integration,.testimonials,footer{
  content: "";
  display: block;
  clear: both;
}
  /*  */
}
.news{
  content: "";
  display: block;
  clear: both;
}

/* styling */

.top-nav-right{
  margin-right:126px;
  font-size: 22px;
}
.top-nav-right ul li a{
  font-size: 22px;
}

.trusted-by{
  font-size: 28px;
}
/* fonts rem */

  .reviewer-name,
  .reivew-number {
    font-size: 1.1rem;
  }
  .testimonial-review {
    font-size: 1.2rem;
  }

  .our-features-right-details li p,
  .integration-desc p,
  .testimonial-left p,
  .tool-left p,
  .our-feature-desc,
  .news-header p,
  .news-left p,
  .news-details p {
    font-size: 1.35rem;
    line-height: 30px;
  }
  .watch,
  .join-free-button,
  .services p,
  .skilline-do-left p,
  .our-feature-desc p,
  .our-features-right h1 {
    font-size: 1.5rem;
    line-height: 30px;
  }
  .cloud-software-div1 span,
  .integration-heading,
  .news-header h1 {
    font-size: 2rem;
  }
  .cloud-software-div1 h1,
  .services h1,
  .tool-left h1 {
    font-size: 2.5rem;
  }

  .our-feature-desc h1 {
    font-size: 3rem;
  }